.form
  .inner
    .table
      = form_for (@posts) do |f|
        .table__image
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        .table__texts
          = f.text_field :name, class: 'title', placeholder: 'Dish name'
          .table__texts--text
            = f.text_area :content, class: 'detail', placeholder: 'Product introduction(商品紹介),[EX: Cooking method(料理方法),ingredient(材料),cost(費用),time(時間),point(工夫した所)]', rows: "15"
            = f.submit 'Send', class: 'send'
