.form
  .inner
    .table
      = form_for (@posts) do |f|
        .table__image
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.text_field :content, class: 'table__texts', placeholder: 'type a message'
        = f.text_field :name, class: "table__texts--name", placeholder: 'go'
        = f.submit 'Send', class: 'send'

-# .form
-#   = form_for (@posts) do |f|
-#     = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      
-#     
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          %ul.title
            %li 
              Menu:
              %ul.text 
                %li.main
                  豚丼
            %li 
              material:
              %ul.text 
                %li 
                  豚
                %li 
                  醤油
            %li 
              recipe:
              %ul.text 
                %li
                  煮る
                %li
                  焼く
                %li
            %li 
              time:
              %ul.number
                %li
                  3
                %li.unit
                  分
            %li 
              money:
              %ul.number
                %li
                  310
                %li.unit
                  円
            %li 
              point:
              %ul.last
                %li.point
                  dagda
                %li.send
                  = f.submit 'Send', class: 'send'

-# .form
-#   = form_for (@posts) do |f|
-#     = f.text_field :content, class: 'form__message', placeholder: 'type a message'
-#     .form__mask
-#       = f.label :image, class: 'form__mask__image' do
-#         = icon('fas', 'image', class: 'icon')
-#         = f.file_field :image, class: 'hidden'
-#     = f.submit 'Send', class: 'form__submit'