.contents
  .contents__title
    %a{name: "picture"} Picture
 
    %ul.table
      - @posts.each do |post|
        %li
          .content
            .content__post{style: "background-image: url(#{post.image});"}
              .more
                %ul.menu
                  %li.menu__single
                    %a.init-bottom{href:""} 
                    %ul.menu__second-level
                      %li
                        = link_to "詳細", "/posts/#{post.id}", method: :get
              %p
                = post.name
              %span.name
                = post.user.name
        
    .contents__title
      %a{name: "movie"} Movie
        
      %ul.table
        %li
          未実装！！
        %li
        %li
    .contents__title
      %a{name: "text"} Text
        
      %ul.table
        - @posts.each do |post|
          %li
            .content
              .more
                %ul.menu
                  %li.menu__single
                    %a.init-bottom{href:""} 
                    %ul.menu__second-level
                      %li
                        = link_to "詳細", "/posts/#{post.id}", method: :get
                %p
                  = post.name
                %span.name
                  = post.user.name
