.header
  .header__title
    .header__btn-home
    %ul.menu
      %li.menu__single
        %a.init-bottom{href:""} 
          = icon("fas", "utensils")
        %ul.menu__second-level
          %li
            .search
              検索機能
  .header__title
    .header__title--text
      %ul.menu
        %li.menu__single
          %a.init-bottom{href:""} Easy CooKing
          %ul.menu__second-level
            %li
              = link_to "All",'#'
            %li
              = link_to "movie",'%'
            %li
              = link_to "picture",'*'
  .header__btn--user
    = link_to "mypages/show" do
      = icon("far", "flushed", class: "icon") 
    = current_user.name
    .header__btn--user-post
      = link_to "forms/new" do
        = icon("fas", "pen-square", class: "icon") 

