.form
  .inner__did
    .table
      = form_for (@post) do |f|
        .table__imaged{:style => "background-image: url(#{@post.image});"}
          .more
            %ul.menu
              %li.menu__single
                %a.init-bottom{href:""} 
                %ul.menu__second-level
                  %li
                    = link_to '編集', "/posts/#{@post.id}/edit", method: :get
        .table__texts
          = f.text_field :name, class: 'title', placeholder: 'Dish name(料理名)'
          .table__texts--text
            = f.text_area :content, class: 'detail', placeholder: 'Product introduction(商品紹介),[EX: Cooking method(料理方法),ingredient(材料),cost(費用),time(時間),point(工夫した所)]', rows: "15"
            = f.submit 'Send', class: 'send'
